<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>ProyectoCorte1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ProductoCarneControllerServlet</display-name>
    <servlet-name>ProductoCarneControllerServlet</servlet-name>
    <servlet-class>co.edu.unbosque.controller.ProductoCarneControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductoCarneControllerServlet</servlet-name>
    <url-pattern>/ProductoCarneControllerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductoFrutaControllerServlet</display-name>
    <servlet-name>ProductoFrutaControllerServlet</servlet-name>
    <servlet-class>co.edu.unbosque.controller.ProductoFrutaControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductoFrutaControllerServlet</servlet-name>
    <url-pattern>/ProductoFrutaControllerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductoRandomControllerServlet</display-name>
    <servlet-name>ProductoRandomControllerServlet</servlet-name>
    <servlet-class>co.edu.unbosque.controller.ProductoRandomControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductoRandomControllerServlet</servlet-name>
    <url-pattern>/ProductoRandomControllerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductoVegetalControllerServlet</display-name>
    <servlet-name>ProductoVegetalControllerServlet</servlet-name>
    <servlet-class>co.edu.unbosque.controller.ProductoVegetalControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductoVegetalControllerServlet</servlet-name>
    <url-pattern>/ProductoVegetalControllerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductoJugueteControllerServlet</display-name>
    <servlet-name>ProductoJugueteControllerServlet</servlet-name>
    <servlet-class>co.edu.unbosque.controller.ProductoJugueteControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductoJugueteControllerServlet</servlet-name>
    <url-pattern>/ProductoJugueteControllerServlet</url-pattern>
  </servlet-mapping>
</web-app>