@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


body {
  
  font-family: 'Poppins', sans-serif;
  background: url("Sources/portada4.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  min-height: 15vh; /* Ajusta la altura mínima del header */
  display: flex;
  align-items: center;
  justify-content: center; /* Centra el contenido horizontalmente */
  background-color: transparent;
  padding: 0 20px; /* Añade un poco de padding a los lados */
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.logo img {
  height: 60px; /* Ajusta la altura del logo */
  width: auto; /* Mantén el aspecto del logo */
}

.menu .navbar ul {
  display: flex;
  align-items: center; /* Alinea verticalmente los elementos */
  margin: 0; /* Elimina márgenes para alineación precisa */
}

.menu .navbar ul li {
  margin: 0 10px; /* Ajusta el margen entre los botones */
}

.menu .navbar ul li a {
  font-size: 18px; /* Ajusta el tamaño del texto de los botones */
  padding: 10px 20px; /* Ajusta el padding para los botones */
  color: black;
  display: block;
  text-align: center; /* Alinea el texto de los botones al centro */
}

.menu .navbar ul li a:hover {
  color: #ffd500; /* Color de hover */
}

#menu {
  display: none;
}

.menu-icono {
  width: 25px;
}

.menu label {
  cursor: pointer;
  display: none;
}

.header-txt {
  text-align: center;
  margin-bottom: 45px;
}

.header-txt h1,
span,
h3 {
  font-size: 110px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  color: #CF2D3A;
  margin-bottom: 15px;
}

.header-txt span {
  font-size: 25px;
}

.header-txt p {
  color: #AFAFAF;
  padding: 0 250px;
  margin: 25px 0;
}

.carousel-inner img {
  width: 100%;
  height: 600px; 
  object-fit: cover;
}

.menu .navbar ul li .btn {
  font-size: 20px; 
  padding: 10px 20px; 
  border-radius: 30px;
}

.menu .navbar ul {
  margin-top: 0;
}

.wrapper {
  width: 420px;
  background: rgba(255, 255, 255, 0.9);
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  color: #000000;
  border-radius: 10px;
  padding: 30px 40px;

  /* Para centrar el formulario */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: #000000;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: #000000;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remember-forgot label input {
  accent-color: #000000;
  margin-right: 3px;
}

.remember-forgot a {
  color: #000000;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.wrapper .btn {
  width: 100%;
  height: 45px;
  background-color: #ffe800;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgb(247, 247, 247, .1);
  cursor: pointer;
  font-size: 16px;
  color: #000000;
  font-weight: 600;
}

.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link p a {
  color: #000000;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

.custom-back-button {
  background-color: #ffd500; /* Color amarillo */
  border: 1px solid #ffd500; /* Borde amarillo */
  color: #000; /* Texto negro para contraste */
}

.custom-back-button:hover {
  background-color: #ffc107; /* Color de hover */
  border-color: #ffc107; /* Borde de hover */
}

@media (min-width: 1025px) {
  .header {
    padding: 20px;
  }

  .menu .navbar ul {
    flex-direction: row;
    justify-content: space-around;
  }

  .header-txt h1,
  .header-txt h3 {
    font-size: 110px;
  }

  .header-txt span {
    font-size: 25px;
  }

  .header-txt p {
    padding: 0 250px;
  }

  .carousel-inner img {
    height: 600px;
  }

  .wrapper {
    width: 420px;
    padding: 30px 40px;
  }

  .input-box input {
    padding: 20px 45px;
  }

  .input-box i {
    font-size: 20px;
  }

  .wrapper h1 {
    font-size: 36px;
  }

  .wrapper .btn {
    font-size: 16px;
  }
}